:root {
  --primarycolor: #47312b;
  ----navbacground: rgba(181, 177, 177, 0.935);
  --transparentlightgrey: rgba(181, 177, 177, 0.935);
  --whitecolor: #f2f2f2;
  --boxshadow: 10 5 5 rgba(181, 177, 177);
  --border: #0000;
}
/* section */
section {
  min-width: 100vw;
  min-height: 90vh;
  background: var(--primarycolor);
  color: var(--navbacground);
}
.infofirstchild {
  transform: translateY(2.6rem);
}

.longLine {
  border: none;
  /* width: 2px; */
  background: var(--navbacground);
  font-weight: bolder;
  height: 19.9rem;
}
.fixedPosition,
.fixedPosition2 {
  width: 2px;
  position: fixed;
  top: 330px;
  background: var(--primarycolor);
  font-size: 1.6rem;
}

.fixedPosition1 {
  left: 1rem;
}
.fixedPosition2 {
  transform: rotate(90deg);
  right: 1rem;
  font-size: 1rem;
}
.positioncontent {
  color: red;
  z-index: 4;
}
.blurontoggle {
  z-index: 1;
}

.sectionInfo {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin-left: 7rem;
  padding-top: 9.8rem;
  color: var(--transparentlightgrey);
}

.sectionInfo h1 {
  font-size: 3.7rem;
  color: var(--transparentlightgrey);
}
.sectionInfo p {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--transparentlightgrey);
}
.checkmyproject {
  margin-top: 2rem;
  width: 10rem;
  height: 3rem;
  border: 1px solid var();
  border-radius: 4px;
  text-transform: capitalize;
  font-weight: bold;
  background: var(--border);
  /* animation: projectswing 0.5s linear infinite alternate; */
}
.checkmyproject a {
  color: var(--navbacground);
}
/* section ends */
@media (max-width: 800px) {
  .sectionInfo {
    margin-right: 1rem;
  }
  .fixedPosition2 {
    display: none;
  }
  .sectionInfo h1 {
    font-size: 2rem;
  }
  .sectionInfo {
    padding-top: 4.8rem;
  }
}
@media (max-width: 600px) {
  .sectionInfo {
    margin-left: 4rem;
  }
  .sectionInfo h1 {
    font-size: 18px;
  }
  .sectionInfo h3 {
    font-size: 14px;
    transform: translateY(-0.1px);
  }
  .fixedPosition1 {
    font-size: 12px;
  }
  .sectionInfo p {
    font-size: 12px;
    transform: translateY(-3px);
    transform: translateX(-1rem);
  }
}
@keyframes projectswing {
  0% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}
